Checks: >
    clang-analyzer-*,
    bugprone-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -clang-analyzer-alpha.*,
    -clang-diagnostic-ignored-optimization-argument,
    -clang-diagnostic-elaborated-enum-base,
    -bugprone-easily-swappable-parameters,
    -bugprone-macro-parentheses,
    -bugprone-narrowing-conversions,
    -misc-confusable-identifiers,
    -misc-const-correctness,
    -misc-include-cleaner,
    -misc-non-private-member-variables-in-classes,
    -misc-use-anonymous-namespace,
    -misc-use-internal-linkage,
    -modernize-concat-nested-namespaces,
    -modernize-deprecated-headers,
    -modernize-avoid-c-arrays,
    -modernize-return-braced-init-list,
    -modernize-use-constraints,
    -modernize-use-default-member-init,
    -modernize-use-designated-initializers,
    -modernize-use-integer-sign-comparison,
    -modernize-use-nodiscard,
    -modernize-use-ranges,
    -modernize-use-trailing-return-type,
    -performance-avoid-endl,
    -performance-noexcept-move-constructor,
    -portability-avoid-pragma-once,
    -readability-container-contains,
    -readability-else-after-return,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-inconsistent-declaration-parameter-name,
    -readability-isolate-declaration,
    -readability-magic-numbers,
    -readability-math-missing-parentheses,
    -readability-named-parameter,
    -readability-redundant-access-specifiers,
    -readability-redundant-inline-specifier,
    -readability-redundant-member-init,
    -readability-redundant-typename,
    -readability-static-definition-in-anonymous-namespace,
    -readability-uppercase-literal-suffix,
    -readability-use-anyofallof,
    -readability-use-std-min-max
WarningsAsErrors: ''
HeaderFilterRegex: '^(kernel|tests)/'
FormatStyle: file
